<!DOCTYPE html>
<html>
<head><title>Convertidor PDF VUCEM</title></head>
<body>
    <h1>Sube tu PDF para normalizar a 300 DPI (y escala de grises si se implementa)</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Subir y Procesar">
    </form>
</body>
</html>